*{
  margin: 0;
  paddig: 0;
}

html{
  scroll-behavior: smooth;
}
body{
  /* background: url('../img/louisvilleNighttime.jpg') no-repeat;
  background-size: cover */
}

/****** Base styles ********/

  /* Navigation invisible for mobile nav */
  nav{
    display:none;
  }

  /***** main container ******/
    .container{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  /****** Clayton Pace's logo  ******/
    .logo-container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      top: 2%;
      position: fixed;
      z-index: 2;
    }


    #dayTime-link{
      display: none;
    }

    .main-logo{
      width: 20%;
    }

    .link{
      display: block;
    }

    /******* Transitioning photo of Louisville******/

        .louisvilleImage{
          width: 100%;
          height: 100vh;

        }

        #dayTime{
          display: none;
        }

    /*******Carousel menu ***********/
    .image_carousel{
      width: 100%;
      height: 100vh;
      

    }
    .about-image{
      width: 100%;
      height: 100vh;
    }

    /*******Clearfix *********/

    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
