*{
  margin: 0;
  paddig: 0;
}

html{
  scroll-behavior: smooth;
}

li{
  list-style: none;
  color: white;
}

/****** Base styles ********/

/***** main container ******/
.myContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(../img/louisvilleNightTime.JPG);
  background-size: cover;
  background-attachment: fixed;
}

/****** Clayton Pace's logo  ******/
.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  top: 2%;
  position: fixed;
  z-index: 2;
}

#dayTime-link{
  display: none;
}

.main-logo{
  width: 6rem;
}

.link{
  display: block;
}

.headerText{
  color: white;
  letter-spacing: .05em;
  margin-bottom: -20px;
}

/******* Transitioning photo of Louisville******/

.louisvilleImage{
  width: 100vw;
  height: 100vh;
}


/*******Carousel menu ***********/
.carousel-caption{
  background-color: rgba(0, 0, 0, .6);
  border-radius: 10px;
  line-height: 1.7em;
  letter-spacing: .05em;
  margin-bottom: 40px;
  width: 60%;
  max-width: 70%;
  margin-left: 25px;
}

.carousel-caption{
  text-align: center;
  vertical-align: center;
}


/**********Portfolio styles**********/
.portfolio_section_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: 89vh;
  grid-template-areas:
  "retail CBC"
  "trifold bicentenial";
  margin-top: 70px;
}

.portfolio_images{
  width: 40vw;
  height: 35vh;

}

.iu_bicentenial,
.tk_trifold_design{
  margin-bottom: 30px;
}
.cbc_logo_design,
.retail_redesign{
  margin-top: 40px;
}

.cbc_logo_design,
.iu_bicentenial{
  margin-left: 20px;
}

.retail_redesign,
.tk_trifold_design{
  margin-left: 30px;
}


.retail_redesign{
  grid-area: retail;

}

.cbc_logo_design{
  grid-area: CBC;
  background-color: white;
  padding: 60px 20px;
}

.tk_trifold_design{
  grid-area: trifold;
}

.iu_bicentenial{
  grid-area: bicentenial;
}


/******Form Styles *********/
.form{
  background:
  radial-gradient(
  #b92b2750,
  #1565C050
  ),
  url(../img/form-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 20%;
  padding-bottom: 10%;
}

.border{
  border-radius: 5px;
  padding: .75em;
}

/*******Media Queries******************************************************/
@media (min-width: 600px) {
  #image_carousel{
    max-width: 90%;
    margin-left: 5%;
  }

  /**********Portfolio styles**********/
  .portfolio_section_container{
    display: grid;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "retail CBC"
    "trifold bicentenial";
    margin-top: 35px;
  }

  .portfolio_images{
    width: 30vw;
    height: 35vh;

  }

  .iu_bicentenial,
  .tk_trifold_design{
  }

  .cbc_logo_design,
  .retail_redesign{
    margin-bottom: 25px;
  }

  .cbc_logo_design,
  .iu_bicentenial{
    margin-left: 30px;
  }

  .retail_redesign,
  .tk_trifold_design{
    margin-left: 30%;
  }

  .form{
    margin-top: 0;
  }

  .headerText{
    color: white;
    letter-spacing: .05em;
    margin-bottom: -3%;
    margin-top: -10%;
  }
}

@media (min-width: 900px) {
  #image_carousel{
    max-width: 80%;
    margin-left: 10%;
  }

  .portfolio_images{
    width: 22vw;
    height: 35vh;
  }

  .retail_redesign,
  .tk_trifold_design{
    margin-left: 40%;
  }

}

@media (min-width: 1000px){
  .portfolio_images{
    width: 20vw;
    height: 35vh;
  }

  .headerText{
    margin-top: -13%;
    margin-bottom: -2%;
  }
}

/*******Clearfix *********/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
