*{
  margin: 0;
  paddig: 0;
}

html{
  scroll-behavior: smooth;
}
body{


}
li{
  list-style: none;
  color: white;
}


/****** Base styles ********/
  #navigation-container{
    display: none;
  }

  /***** main container ******/
    .myContainer{
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  /****** Clayton Pace's logo  ******/
    .logo-container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      top: 2%;
      position: fixed;
      z-index: 2;
    }


    #dayTime-link{
      display: none;
    }

    .main-logo{
      width: 6rem;
    }

    .link{
      display: block;
    }
    .margin-top{
      color: white;
      margin-top: 30px;
      margin-bottom: -30px;
      letter-spacing: .05em;
    }
    /******* Transitioning photo of Louisville******/

        .louisvilleImage{
          height: 100vh;
          width: 100%;

          text-align: right;
          overflow: none;
        }

        #nightTime{
          object-fit: fill;
          background-color: black;
          }

        #dayTime{
          object-fit: fill;
          display: none;
        }

        /*******Carousel menu ***********/
           .carousel-caption{
             background-color: rgba(0, 0, 0, .4);
             border-radius: 10px;
             line-height: 1.7em;
             letter-spacing: .05em;
           }

           .carousel-caption{
             text-align: center;
             vertical-align: center;
           }
/******Form Styles *********/
.form{
  background:
  radial-gradient(
    #b92b2750,
    #1565C050
    ),
   url(../img/form-background.jpg);
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 10%;
}

.border{
  border-radius: 5px;
  padding: .75em;
}

/*******Clearfix *********/

        .clearfix::after {
        content: "";
        clear: both;
        display: table;
        }

/*******Media Queries******************************************************/
    @media (min-width: 800px) {
      #image_carousel{
        display: none;
      }
      #navigation-container{
          background: rgba(0,0,0,.5);
          float: left;
          display: inline;
          height: 100vh;
          width: 40%;
          position: fixed;
          z-index: 2500;
          font-size: 3em;
          line-height: 3.5em;
          vertical-align: center;
        }

    }

    @media (min-width: 2300px) {
      #navigation-container{
        width: 20%;
        text-align: left;
      }

      .louisvilleImage{
        width: 100%;
        text-align: right;
      }

      #nightTime{
        width: 90%;

        }

      #dayTime{
        width: 90%;
        display: none;
      }
    }

    @media (min-width: 1500px){
    #navigation-container{
      width: 18%;

    }
